My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -60
      ],
      "id": "d06de897-ae42-46df-9be3-c45d9e617146",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~google-maps-extractor/run-sync-get-dataset-items?token=apify_api_CkyzlHQCsAgz4jgZOxdpx7iDKj2sH027EUn1",
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "{\n  \"searchStringsArray\": [\"dentists\"],\n  \"locationQuery\": \"Miami, FL, USA\",\n  \"maxCrawledPlacesPerSearch\": 25\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        -60
      ],
      "id": "18e8cab6-214f-49ae-b01e-9ef5715a28f0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "title",
        "include": "selectedOtherFields",
        "fieldsToInclude": "categoryName, location.lat, location.lng, totalScore, phone, website",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -200,
        -60
      ],
      "id": "1142bfa8-bd49-4b2f-a64d-56523c929250",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vjjbgVrW2iZhgsxe2WQzV4s2GfNDBvBGlKvqBQuKUl8",
          "mode": "list",
          "cachedResultName": "LeandsN8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vjjbgVrW2iZhgsxe2WQzV4s2GfNDBvBGlKvqBQuKUl8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vjjbgVrW2iZhgsxe2WQzV4s2GfNDBvBGlKvqBQuKUl8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "categoryName": "={{ $json.categoryName }}",
            "phone": "={{ $json.phone }}",
            "website": "={{ $json.website }}",
            "location.lng": "={{ $json['location.lng'] }}",
            "location.lat": "={{ $json['location.lat'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoryName",
              "displayName": "categoryName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location.lat",
              "displayName": "location.lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location.lng",
              "displayName": "location.lng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        -80
      ],
      "id": "cff2f213-04ed-4b48-b131-8425ba823527",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BCCnCLJsNnPtyon0",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ad2a215-d754-40c4-96e5-4a072fcd2d13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "13120373ec80e9949a249cba76f22648102713952322e249a807a1307cb361a9"
  },
  "id": "48L0jzrzCJpT5s3m",
  "tags": []
}